.hidden {
  display: none;
}

body {
  background-image: linear-gradient(to right, white, blue);
}

.tweet {
  background-color: white;
}

.column1 {
  float: right;
  width: 15%;
}

.column2 {
  float: left;
  width: 85%
}

.topright {
  position: fixed;
  top: 55px;
}

.bottomright {
  position: fixed;
  bottom: 0px;
  padding: 5px;
}