.hidden {
  display: none;
}

body {
  background-image: linear-gradient(to right, white, blue);
}

.tweet {
  background-color: white;
}

.column1 {
  float: right;
  width: 10%;
}

.column2 {
  float: left;
  width: 90%
}